policy_module(poriun, 1.100.1)

########################################
#
# Declarations
#

type poriun_t;
type poriun_exec_t;
init_daemon_domain(poriun_t, poriun_exec_t)

permissive poriun_t;

type poriun_initrc_exec_t;
init_script_file(poriun_initrc_exec_t)

type poriun_conf_t;
files_type(poriun_conf_t)

type poriun_var_lib_t;
files_type(poriun_var_lib_t)

type poriun_var_run_t;
files_type(poriun_var_run_t)

type poriun_port_t;
corenet_port(poriun_port_t)

########################################
#
# poriun local policy
#
allow poriun_t self:process { fork };

allow poriun_t self:fifo_file rw_fifo_file_perms;
allow poriun_t self:unix_stream_socket create_stream_socket_perms;

manage_dirs_pattern(poriun_t, poriun_conf_t, poriun_conf_t)
manage_files_pattern(poriun_t, poriun_conf_t, poriun_conf_t)

manage_dirs_pattern(poriun_t, poriun_var_lib_t, poriun_var_lib_t)
manage_files_pattern(poriun_t, poriun_var_lib_t, poriun_var_lib_t)
files_var_lib_filetrans(poriun_t, poriun_var_lib_t, { dir file })

manage_dirs_pattern(poriun_t, poriun_var_run_t, poriun_var_run_t)
manage_files_pattern(poriun_t, poriun_var_run_t, poriun_var_run_t)

sysnet_dns_name_resolve(poriun_t)
corenet_all_recvfrom_unlabeled(poriun_t)

allow poriun_t self:tcp_socket create_stream_socket_perms;
corenet_tcp_sendrecv_generic_if(poriun_t)
corenet_tcp_sendrecv_generic_node(poriun_t)
corenet_tcp_sendrecv_all_ports(poriun_t)
corenet_tcp_bind_generic_node(poriun_t)

gen_require(`
    type poriun_port_t;
')
allow poriun_t poriun_port_t:tcp_socket name_bind;

gen_require(`
    type poriun_port_t;
')
allow poriun_t poriun_port_t:tcp_socket name_connect;

domain_use_interactive_fds(poriun_t)

files_read_etc_files(poriun_t)

miscfiles_read_localization(poriun_t)

sysnet_dns_name_resolve(poriun_t)

allow poriun_t poriun_exec_t:file execute_no_trans;
allow poriun_t self:process setsched;
corecmd_exec_ls(poriun_t)
corenet_tcp_connect_http_port(poriun_t)
dev_read_urand(poriun_t)
fs_getattr_xattr_fs(poriun_t)
kernel_read_system_state(poriun_t)
