# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Encoding=UTF-8
Name=Poriun Coin Daemon SNAP
Comment=testnet
GenericName=Poriun Digital Currency Daemon Client testnet network
Exec=poriun-core.daemon-testnet %u
Terminal=true
Type=Application
Icon=${SNAP}/share/pixmaps/poriun_testnet.png
MimeType=x-scheme-handler/bpr;
Categories=X-Office;X-Finance;
Keywords=internet;poriun;zbpr;core;wallet;daemon;testnet;snap;launchpad;crypto;digital;currency;coin;token;zerocoin;
Version=1.0
